/* This is a 'stylesheet'. It defines how the elements appear when they are rendered by the browser. */

/* index.html */

html {
  height: 100%;
}

body{
  background-color:cyan;
}

h1 {
  font-family: "游ゴシック";
  text-align: center;
}

.start-button {
  font-size: 20pt;
  font-family: "游ゴシック";
  color: black;
  background-color:whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  padding:50px;
}

h2 {
  margin-top: 100px;
  font-family: "游ゴシック";
  text-align: center;
}

/* index2.html */

html {
  height: 100%;
}

.answer-button {
  font-size: 15pt;
  height:100px;
  width: 150px;
  font-family: "游ゴシック";
  color: black;
  background-color:whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  display:inline-block;
  text-align: center;
  padding-top: 50px;
}

.body2{
  margin-top: 80px;
  text-align: center;
  background-color:hotpink
}

/* index3-wrong.html */
/* index4-correct.html */

.body3{
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
  background-color:yellow;
  font-size:20px;
}

div{
  font-size:40px;
  margin-bottom: 30px;
}

.top-button {
  font-size: 10pt;
  font-family: "游ゴシック";
  color: black;
  background-color:whitesmoke;
  text-decoration: none;
  border-radius: 5px;
  padding:10px;
}


